In [2]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import ast

In [3]:
df = pd.read_csv('movies_metadata.csv')
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
for i in df.columns:
    print(i)

adult
belongs_to_collection
budget
genres
homepage
id
imdb_id
original_language
original_title
overview
popularity
poster_path
production_companies
production_countries
release_date
revenue
runtime
spoken_languages
status
tagline
title
video
vote_average
vote_count

In [5]:
df.shape

(45466, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [7]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [8]:
df.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
27162,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,115111,tt0043595,en,"Goodbye, My Fancy",A headstrong Congresswoman (Joan Crawford) rek...,...,1951-05-19,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one holds a candle to Joan -- when Joan is ...,"Goodbye, My Fancy",False,6.0,3.0
29436,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,18068,tt0166090,en,Babar: King of the Elephants,Babar is a young elephant in the great forest....,...,1999-04-28,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Babar: King of the Elephants,False,6.1,7.0
31415,False,NaN,0,[],NaN,293270,tt0069794,it,Sistemo l'America e torno,NaN,...,1974-09-16,0.0,NaN,[],Released,NaN,Sistemo l'America e torno,False,6.5,1.0
28380,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.leoblog.pl/film-nasza-klatwa/,274805,tt3069992,en,Nasza klatwa,The film is a personal statement of the direct...,...,2013-05-28,0.0,27.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,NaN,Our Curse,False,6.0,2.0
12877,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://bombit-themovie.com/,15570,tt1002535,en,Bomb It,Through interviews and guerilla footage of gra...,...,2007-04-27,0.0,93.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Bomb It,False,6.6,5.0

In [9]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [10]:
df= df.drop_duplicates().reset_index(drop=True)

In [11]:
# select only important column who can help me recommend similar movies

df  = df[['title','tagline','overview','genres','vote_average','popularity']]

In [12]:
df

,title,tagline,overview,genres,vote_average,popularity
0,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,21.946943
1,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.9,17.015539
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",6.5,11.7129
3,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6.1,3.859495
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]",5.7,8.387519
...,...,...,...,...,...,...
45448,Subdue,Rising and falling between a man and woman,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",4.0,0.072051
45449,Century of Birthing,NaN,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]",9.0,0.178241
45450,Betrayal,A deadly game of wits.,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",3.8,0.903007
45451,Satan Triumphant,NaN,"In a small town live two brothers, one a minis...",[],0.0,0.003503
45452,Queerama,NaN,50 years after decriminalisation of homosexual...,[],0.0,0.163015

In [13]:
df.isnull().sum()

title               6
tagline         25045
overview          954
genres              0
vote_average        6
popularity          5
dtype: int64

In [14]:
df = df.dropna(subset=['title'])

In [15]:
df['overview'] = df['overview'].fillna('')

In [16]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [17]:
df['genres'] = df['genres'].apply(lambda x:' '.join([i['name'] for i in ast.literal_eval(x)]))

In [18]:
df.head()

,title,tagline,overview,genres,vote_average,popularity
0,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,7.7,21.946943
1,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,6.9,17.015539
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,Romance Comedy,6.5,11.7129
3,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,6.1,3.859495
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,Comedy,5.7,8.387519

In [19]:
df['tagline'] = df['tagline'].fillna('')

In [20]:
df.isnull().sum()

title           0
tagline         0
overview        0
genres          0
vote_average    0
popularity      0
dtype: int64

In [21]:
df['tags'] = df['overview'] + ' ' + df['genres'] + ' ' + df['tagline']

In [22]:
df.head(3)

,title,tagline,overview,genres,vote_average,popularity,tags
0,Toy Story,,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,7.7,21.946943,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,6.9,17.015539,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,Romance Comedy,6.5,11.7129,A family wedding reignites the ancient feud be...

# NLP Text processing

Removing stop words(and , is , an, when,that,the) and puchuation (,-.--)

In [23]:
df['tags'][1]

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures. Adventure Fantasy Family Roll the dice and unleash the excitement!"

In [24]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [25]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\krupe\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\krupe\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [26]:
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

words tokeniztion

In [27]:
def preprocess_text(text):
  #lowercase
  text = str(text).lower()
  #removed the punctuations
  text = re.sub(r'[^a-zA-Z\s]', '', text)

  words = text.split()
  #remove stopwords
  words = [word for word in words if word not in stop_words]

  #lemmatize
  words = [lemmatizer.lemmatize(word) for word in words]

  return " ".join(words)

In [28]:
df['tags'] = df['tags'].apply(preprocess_text)

In [29]:
df.head()

,title,tagline,overview,genres,vote_average,popularity,tags
0,Toy Story,,"Led by Woody, Andy's toys live happily in his ...",Animation Comedy Family,7.7,21.946943,led woody andys toy live happily room andys bi...
1,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,Adventure Fantasy Family,6.9,17.015539,sibling judy peter discover enchanted board ga...
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,Romance Comedy,6.5,11.7129,family wedding reignites ancient feud nextdoor...
3,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",Comedy Drama Romance,6.1,3.859495,cheated mistreated stepped woman holding breat...
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,Comedy,5.7,8.387519,george bank recovered daughter wedding receive...

In [30]:
df['tags'][1]

'sibling judy peter discover enchanted board game open door magical world unwittingly invite alan adult who trapped inside game year living room alans hope freedom finish game prof risky three find running giant rhinoceros evil monkey terrifying creature adventure fantasy family roll dice unleash excitement'

# text vectorization

In [31]:
# reset the index

df = df.reset_index(drop=True)

In [34]:
# indices = pd.Series(df.index,index = df['title']).str.lower().drop_duplicates()
# title → index mapping (case-insensitive)
indices = pd.Series(
    df.index,
    index=df['title'].str.lower()
).drop_duplicates()

In [44]:
indices

title
toy story                          0
jumanji                            1
grumpier old men                   2
waiting to exhale                  3
father of the bride part ii        4
                               ...
subdue                         45442
century of birthing            45443
betrayal                       45444
satan triumphant               45445
queerama                       45446
Length: 45447, dtype: int64

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [37]:
tfidf = TfidfVectorizer(max_features=50000,ngram_range=(1,2),stop_words='english')

In [38]:
tfidf_matrix = tfidf.fit_transform(df['tags'])

In [39]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1548114 stored elements and shape (45447, 50000)>

In [40]:
tfidf_matrix.shape

(45447, 50000)

# Cosine similarity

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# # for better matching movies to use repdifuz 
# from rapidfuzz import process 



# def recommend(title,n = 10):
#     title = title.strip().lower()
#     if title not in indices:
#         return ['Movie not found']
#     idx = indices[title]
#     sim_score = cosine_similarity(tfidf_matrix[idx],tfidf_matrix).flatten()
#     similar_idx = sim_score.argsort()[::-1][1:n+1]
#     return df['title'].iloc[similar_idx]

In [ ]:
# from rapidfuzz import process 
# def recommennd(title, n= 10):
#     title = title.strip().lower()
    
#     # find closest match 
#     match,score,_ = process.extractOne(title,indices.index)
    
#     if score<70:
#         return ['Movie not found ']
    
#     if 70 <= score < 90:
#         return [f"Enter right movie name (Did you mean '{match.title()}'?)"]
#     idx = indices[title]
    
#     sim_score = cosine_similarity(tfidf_matrix[idx],tfidf_matrix).flatten()
#     similar_idx = sim_score.argsort()[::-1][1:n+1]
    
#     return df['title'].iloc[similar_idx].tolist()

In [115]:
from rapidfuzz import process
from sklearn.metrics.pairwise import cosine_similarity

def recommend(title, n=15):
    title = title.strip().lower()

    try:
        match, score, _ = process.extractOne(
            title,
            indices.index
        )

        # ❌ Totally wrong movie
        if score < 70:
            return ["Movie can't be found"]

        # ⚠️ Spelling mistake → suggest
        if 70 <= score < 90:
            return [f"Did you mean {match.title()}?"]

        # 🛡️ Extra safety: check index existence
        if match not in indices:
            return ["Movie can't be found"]

        idx = indices[match]

        # 🛡️ Bounds check
        if idx >= tfidf_matrix.shape[0]:
            return ["Movie can't be found"]

        sim_score = cosine_similarity(
            tfidf_matrix[idx],
            tfidf_matrix
        ).flatten()

        similar_idx = sim_score.argsort()[::-1][1:n+1]

        return df['title'].iloc[similar_idx].tolist()

    except Exception:
        return ["Movie can't be found"]

In [124]:
recommend('Avtar')

['Avatar 2',
 'The Inhabited Island',
 'Thor: Ragnarok',
 'Moontrap: Target Earth',
 'The Three Musketeers',
 'A Trip to the Moon',
 'Nightmare City 2035',
 'France société anonyme',
 'Désiré',
 'Stand by Me Doraemon',
 "Frank Herbert's Dune",
 'Lara Croft Tomb Raider: The Cradle of Life',
 'The Matrix',
 'Shakedown',
 'The Secret of the Third Planet']

# saving the data in pkl file

In [125]:
import pickle 

pickle.dump(tfidf_matrix,open('tfidf_matrix.pkl','wb'))
pickle.dump(indices,open('idices.pkl','wb'))
df.to_pickle('df.pkl')
pickle.dump(tfidf,open('tfidf.pkl','wb'))

In [8]:
import pickle
with open("tfidf_matrix.pkl", "rb") as f:
    data = pickle.load(f)
print(data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1548114 stored elements and shape (45447, 50000)>
  Coords	Values
  (0, 24140)	0.09900545422649452
  (0, 49041)	0.4437039337155696
  (0, 1383)	0.4899439099379863
  (0, 45651)	0.12709520983090616
  (0, 25326)	0.07925705592548672
  (0, 18170)	0.1228459402830837
  (0, 37261)	0.10030726765185635
  (0, 3908)	0.11429618228375892
  (0, 4938)	0.09782515376967744
  (0, 5488)	0.46087728373387826
  (0, 38094)	0.09606612090887007
  (0, 571)	0.12425101201153478
  (0, 25932)	0.10908292597115554
  (0, 33763)	0.08011437348688744
  (0, 18531)	0.08748464217317782
  (0, 33952)	0.09330385131699001
  (0, 6877)	0.11480737597725842
  (0, 38959)	0.1184338007471889
  (0, 32470)	0.09319964368140396
  (0, 11727)	0.12257764027550071
  (0, 12908)	0.09656033119244664
  (0, 24063)	0.09391505969551639
  (0, 2107)	0.13599460332517638
  (0, 10407)	0.1173067454390935
  (0, 1456)	0.07422984517413567
  :	:
  (45445, 11874)	0.1318955063410754
  (45445, 25332)	0.14307736160455153
  (45445, 45591)	0.14133010487108078
  (45445, 23281)	0.1318955063410754
  (45445, 8898)	0.1450582379132042
  (45446, 49508)	0.11356292316528556
  (45446, 48796)	0.11309247553772461
  (45446, 14043)	0.1800400042391099
  (45446, 28326)	0.14510805633986
  (45446, 36029)	0.1520501885731342
  (45446, 19541)	0.27538215635484836
  (45446, 10520)	0.16307363518955556
  (45446, 22123)	0.24125638654242285
  (45446, 10102)	0.1964012988903026
  (45446, 16322)	0.20440833818795648
  (45446, 44315)	0.17553934768933038
  (45446, 6243)	0.177212574095121
  (45446, 44320)	0.19962121741295516
  (45446, 13226)	0.2737781327605175
  (45446, 1797)	0.25316454005878225
  (45446, 28397)	0.24547048586843256
  (45446, 16333)	0.296145338398523
  (45446, 46630)	0.26546279528884403
  (45446, 9051)	0.2826681550225842
  (45446, 3693)	0.34247770112056264